.header-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: white;
  height: 40px;
}

.app-header img {
  object-fit: contain;
}

.header-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #1e3a8a;
}
