<div class="container">
  <div class="toolbar">
    <input type="text"
           placeholder="Search &#x2315;..."
           class="search-input"
           [(ngModel)]="searchValue"
           (ngModelChange)="filterBySearch()"
    >
    <app-button
      [text]="'Agregar'"
      (action)="goToCreate()"
    ></app-button>
  </div>

  <div class="card">
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de revisión</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @if(filteredProducts.length == 0) {
            <tr>
              <td colspan="6">
                No se ha encontrado ningún producto.
              </td>
            </tr>
          } @else {
            @for (product of filteredProducts; track product.id) {
              <tr>
                <td><div class="avatar">{{ product.logo }}</div></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.date_release }}</td>
                <td>{{ product.date_revision }}</td>
                <td>
                  <div class="dropdown-container">
                    <button class="dropdown-button" (click)="toggleMenu(product.id)"> &#8942; </button>
                    <div class="dropdown-content" [style.display]="activeMenu === product.id ? 'block' : 'none'">
                      <button (click)="goToEdit(product.id)">Editar</button>
                      <button (click)="openDeleteModal(product.id, product.name)">Eliminar</button>
                    </div>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

    <div class="table-pagination">
      <span>{{ products.length }} Resultados</span>
      <div class="table-pagination-controls">
        <select (change)="onLimitChange($event)">
          <option>5</option>
          <option>10</option>
          <option>20</option>
        </select>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal
  [message]="'¿Estás seguro de eliminar el producto '+ nameProductSelected +'?'"
  [isVisible]="showDeleteModal"
  (cancel)="closeModal()"
  (confirm)="deleteProduct()"
>
</app-confirm-modal>
