.search-input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  width: 200px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  text-align: left;
  font-size: 12px;
  color: #6b7280;
  padding-bottom: 12px;
}

.custom-table td {
  padding: 12px 0;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
}

/* AVATAR */
.avatar {
  width: 32px;
  height: 32px;
  background: #e5e7eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #6b7280;
}

.table-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #6b7280;
}

.action-button {
  text-align: center;
  cursor: pointer;
}
