/* You can add global styles to this file, and also import other style files */
.container {
  padding: 32px;
  max-width: 1100px;
  margin: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f7f9;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
